/* header */

@media screen and (max-width: 1600px) {
	.header__calculator-button p {
		padding: 0 10%;
	}
	.header__menu-container ul li {padding-right: 20px;}
	.header__menu-container ul li:first-child {padding-left: 20px;}
	.header__menu-container ul li:last-child {padding-right: 20px;}
	//
	.header__logo-container img {width: 80%; height: auto;}
}
@media screen and (max-width: 1200px) {
	.header__calculator-button p {
		padding: 0;
		text-align: center;
	}
	.header__calculator-container {display: none;}
	.header__logo-container {width: 15%;}
	.header__phone-cabinet-container {width: 30%;}
	.header__phone-container {width: 70%;}
	.header__cabinet-container {width: 30%;}
	.header__menu-container {width: 55%;}
}
@media screen and (max-width: 1000px) {
	header {height: 60px;}
	.header__logo-container {line-height: 60px;}
	.header__menu-container {line-height: 56px;}
	.header__cabinet-button {line-height: 0; height: 0; color: transparent;}
	.header__menu-container ul li {padding-right: 10px;}
	.header__menu-container ul li:first-child {padding-left: 10px;}
	.header__menu-container ul li:last-child {padding-right: 10px;}
	.header__cabinet-container {width: 20%;}
	.header__logo-container img[alt="logo"] {display: none;}
	.header__logo-container img[alt="logo-mini"] {display: inline-block; height: 70%; width: auto;}
	.header__logo-container {width: 8%;}
	.header__menu-container {width: 60%;}
	.header__phone-cabinet-container {width: 32%;}
	.header__phone-container {width: 80%;}
	.header__cabinet-container {width: 20%;}
	.header__phone-container a {font-size: 16px; line-height: 20px;}
	.header__phone-container a:before {width: 20px; height: 20px; line-height: 20px;}
}
@media screen and (max-width: 700px) {
	header {background-color: $bg-2; position: fixed; width: 100%; margin-top: -60px;}
	.header__logo-container {
		display: block; float: left; width: 20%;
	}
	.header__hamburger {
		display: block; width: 20%;
	}
	.header__menu-container {
		width: 100%; text-align: center;
	}
	.header__menu-container {
		display: none;
		background-color: $bg-2;
	}
	header.active .header__menu-container {display: inline-table;}
	.header__menu-container ul {
		display: list-item;
		//
		li {
			display: list-item; text-align: center;
			padding: 0!important;
		}
	}
	.header__menu-container ul li a {
		display: block; width: 100%; height: 100%;
		color: $f-5;
	}
	.header__phone-cabinet-container {
		display: none;
		width: 100%;
	}
	header.active .header__phone-cabinet-container {
		display: block;
	}
	//
	header {border-bottom: 1px solid #999;}
	.header__menu-container ul li {border-bottom: 1px solid #999;}
}

/* /header */

/* slider */
@media screen and (max-width: 1200px) {
	.slider-container {height: 500px;}
	#slider-fade .slide {height: 500px;}
}
@media screen and (max-width: 700px) {
	body {
		margin-top: 60px;
	}
	/* скрываем кнопку заказа звонка*/
	.bid-call-btn {display: none;}
	.slider-container {padding-left: 0;}
	//
	.slider-text-box {
		width: 100%;
		height: 200px;
		padding: 10px;
	}
}
/* scheme */
@media screen and (max-width: 1200px) {
	.scheme-step-title-container {
		width: 100%;
		display: block;
		position: relative;
	}
	.scheme-steps-wrap .row {
		margin-left: 0; margin-right: 0;
	}
}
@media screen and (max-width: 768px) {
	.scheme-step-block .scheme-step-content:before {
		top: auto;
		right: 68px;
		bottom: 10px;
		 -moz-transform: rotate(90deg); /* Для Firefox */
		-ms-transform: rotate(90deg); /* Для IE */
		-webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
		-o-transform: rotate(90deg); /* Для Opera */
		transform: rotate(90deg);
	}
}
@media screen and (max-width: 700px) {
	.scheme-container {margin-left: 0; margin-right: 0;}
	.scheme-step-title-container:before {display: none;}
}
/* methods */
@media screen and (max-width: 1400px) {
	.methods-step-block.methods-step-1:after, .methods-step-block.methods-step-2:after, .methods-step-block.methods-step-3:after, .methods-step-block.methods-step-4:after {font-size: 140px;}
	.methods-step-block .methods-step-content {padding-bottom: 18px;}
}
@media screen and (max-width: 1200px) {
	.methods-step-title-container {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
	}
	.methods-step-block {height: 180px;}
	.methods-step-title-container .methods-step-title-content {padding-top: 0;}
	.methods-steps-wrap .row {margin-left: 0; margin-right: 0;}
}
@media screen and (max-width: 700px) {
	.methods-container {margin-left: 0; margin-right: 0;}
}
/* benefits */
@media screen and (max-width: 700px) {
	.benefits {padding-left: 0; margin-right: 0; padding-bottom: 30px;}
	//
	h3.block-title {font-size: 30px; padding: 20px 10px;}
	//
	.benefits .col-lg-3 {text-align: right; padding-right: 30px;}
}
/* reviews */
@media screen and (max-width: 1200px) {
	// slider
	.reviews__block {margin: 0 5px;}
}
@media screen and (max-width: 1000px) {
	#reviews__slider {
		width: 80%; margin: auto;
	}
}
@media screen and (max-width: 700px) {
	.reviews {padding-right: 0px; margin-left: 0px;}
}
/*** footer ***/
@media screen and (max-width: 1200px) {
	footer .footer-3-column ul li {
		float: none; width: 100%;
	}
}
@media screen and (max-width: 700px) {
	footer {
		padding: 0 10px;
		.footer-underline p {margin: 10px 0;}
		.footer-underline p:last-child {
			float: left;
		}
	}
}