/* colors */
$bg-1: #f8f8f8; //header bg
$bg-2: #3b3d47; //header phone-cabinet container bg // header in mobile version // menu mobile // btn call bid // slider nav btn
$bg-3: #e8e8e9; // calc button 1
$bg-4: #65666e; // calc button 1
$bg-5: #ca5263; // btn calc
$bg-6: #fff; // slider-text-box
$bg-7: #a23b4a; // slider nav btn // scheme-firft-step-container 

$f-1: #7e7f88; //header menu
$f-2: #61636b; //calc button
$f-3: #fbfbfb; //calc button active
$f-4: #fff; //header number
$f-5: #fff; //header cabinet // header menu font mobile
$f-6: #fff; //calculator
$f-7: rgba(255,255,255,0.5); // tabs in calculator
$f-8: rgba(255,255,255,1); // tabs in calculator
$f-9: #fff; // btn calc font
$f-10: #fff; // btn bid call
$f-11: #3b3d47; // slider-text-box font // 