/* colors */
$bg-1: #f8f8f8; //header bg
$bg-2: #3b3d47; //header phone-cabinet container bg // header in mobile version // menu mobile
$bg-3: #e8e8e9; // calc button 1
$bg-4: #65666e; // calc button 1

$f-1: #7e7f88; //header menu
$f-2: #61636b; //calc button
$f-3: #fbfbfb; //calc button active
$f-4: #fff; //header number
$f-5: #fff; //header cabinet // header menu font mobile
$f-6: #fff; //calculator